<?xml version="1.0" encoding="utf-8"?>
<optimus>
  <settings>
    <setting key="onlyAllowCssFilesInEditor" value="True" />
    <setting key="onlyAllowJsFilesInEditor" value="True" />
    <setting key="compileDynamicStyleSheetsToCss" value="True" />
    <setting key="compileDynamicJavaScriptToJs" value="True" />
    <setting key="ignoreCompilationDebug" value="True" />
  </settings>
  <bundles>
    <scriptBundle virtualPath="~/bundles/scripts.js" disableMinification="False">
      <include virtualPath="~/js/jquery.min.js" />
      <include virtualPath="~/js/bootstrap.min.js" />
      <include virtualPath="~/js/modernizr.js" />
      <include virtualPath="~/js/isotope/isotope.pkgd.min.js" />
      <include virtualPath="~/js/magnific-popup/jquery.magnific-popup.min.js" />
      <include virtualPath="~/js/waypoints/jquery.waypoints.min.js" />
      <include virtualPath="~/js/jquery.parallax-1.1.3.js" />
      <include virtualPath="~/js/jquery.validate.js" />
      <include virtualPath="~/js/jquery.browser.js" />
      <include virtualPath="~/js/SmoothScroll.js" />
      <include virtualPath="~/js/template.js" />
      <include virtualPath="~/js/custom.js" />
      <include virtualPath="~/css/owlcarousel2/owl.carousel.min.js" />
      <include virtualPath="~/js/rs-plugin-5/js/jquery.themepunch.tools.min.js?rev=5.0" />
      <include virtualPath="~/js/rs-plugin-5/js/jquery.themepunch.revolution.min.js?rev=5.0" />
      <include virtualPath="~/js/google.map.config.js" />
      <include virtualPath="~/js/jquery.cookie.js" />
    </scriptBundle>
    <styleBundle virtualPath="~/bundles/styles" disableMinification="False">
      <include virtualPath="~/css/bootstrap/css/bootstrap.min.css" />
      <include virtualPath="~/css/fonts/font-awesome/css/font-awesome.css" />
      <include virtualPath="~/css/fonts/fontello/css/fontello.css" />
      <include virtualPath="~/css/magnific-popup/magnific-popup.css" />
      <include virtualPath="~/css/animations.css" />
      <include virtualPath="~/css/hover/hover-min.css" />
      <include virtualPath="~/css/owlcarousel2/assets/owl.carousel.min.css" />
      <include virtualPath="~/css/owlcarousel2/assets/owl.theme.default.min.css" />
      <include virtualPath="~/js/rs-plugin-5/css/settings.css" />
      <include virtualPath="~/js/rs-plugin-5/css/layers.css" />
      <include virtualPath="~/js/rs-plugin-5/css/navigation.css" />
      <include virtualPath="~/css/style.css" />
      <include virtualPath="~/css/typography-default.css" />
      <include virtualPath="~/css/skins/blue.css" />
      <include virtualPath="~/css/custom.css" />
    </styleBundle>
  </bundles>
</optimus>